/* Large desktops and laptops */
@media (min-width: 1200px) {
  
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /*FIRST-SCREEN*/
  .container{
    max-width: 992px;
  }
  .main-title{
    font-size: 70px;
  }
  .info-block{
    padding-top: 15px;
  }
  .sub-title{
    font-size: 18px;
  }
  .info-title{
    font-size: 25px;
  }
  .info-p{
    font-size: 16px;
  }
  .info-img{
    max-width: 45%;
    margin: 5px auto;
  }
  .info-block__item{
    margin: 0;
  }
  .info-block-garant{
    margin-left: 20px;
  }
  /*HEADER*/
  .header-title{
    font-size: 28px;
  }
  .icons-images{
    width: 20px;
  }
  /*INFO-ABOUT-INFO*/
  .info-about-bg{
    height: 700px;
  }
  .box-border-info{
    width: 60%;
  }
  .about-title{
    font-size: 22px;
  }
  .about-text{
    font-size: 16px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /*FIRST-SCREEN*/
  .container{
    max-width: 768px;
  }
  .main-title{
    font-size: 70px;
  }
  .sub-title{
    font-size: 18px;
  }
  .info-title{
    font-size: 23px;
  }
  .info-p{
    font-size: 15px;
  }
  .info-img{
    max-width: 40%;
    margin: 5px auto;
  }
  .info-block__item{
    margin: 0;
  }
  .info-block-garant{
    margin-left: 20px;
  }
  /*HEADER*/
  .header{
    width: 100vw;
    height: 60px;
  }
  .header{
    left: 0;
    top: 0;
    display: block;
  }
  .header-left{
    width: 100vw;
    max-height: 60px;
  }
  .header-title{
    margin: 10px;
    writing-mode: horizontal-tb;
    right: 0;
    position: absolute;
    font-size: 25px;
  }
  .menu-icon{
    margin: 10px;
  }
  .links-icons{
    margin: 10px;
  }
  /*INFO-ABOUT-INFO*/
  .container-about{
    max-width: 768px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }
 
  .info-about-bg{
    height: 700px;
  }
  .box-border, .box-border-info{
    left: 0;
    right: 0;
    position: relative;
    width: 75%;
    text-align: center;
    margin: auto;
  }
  .box-border-info{
    margin-top: 30px;
  }
  .about-title{
    font-size: 18px;
    margin: 14px;
  }
  .about-text{
    font-size: 16px;
    margin: 14px;
  }
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /*FIRST-SCREEN*/
  .container{
    max-width: 480px;
  }
  .main-title{
    font-size: 45px;
  }
  .sub-title{
    font-size: 12px;
  }
  .info-title{
    font-size: 18px;
  }
  .info-p{
    font-size: 14px;
  }
  .info-img{
    max-width: 30%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
  /*HEADER*/
  .header{
    width: 100vw;
    height: 60px;
  }
  .header{
    left: 0;
    top: 0;
    display: block;
  }
  .header-left{
    width: 100vw;
    max-height: 50px;
  }
  .header-title{
    display: none;
  }
  .menu-icon{
    margin: 8px;
    position: absolute;
    right: 0;
  }
  .links-icons{
    position: absolute;
    margin-bottom: 5px;
  }
  .menu-overlay{
    display: block;
  }
  .menu__item{
    width: 100vw;
    height: 100px;
  }
  .menu-title{
    padding: 0;
    padding-top: 30px;
    font-size: 25px;
  }
  .menu-hammam{
    background-image: none;
  }
  .menu-fier{
    background-image: none;
  }
  .menu-sauna{
    background-image: none;
  }
  .header-menu{
    position: absolute;
    top: 50px;
  }
  /*INFO-ABOUT-INFO*/
  .container-about{
    max-width: 480px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }
  .info-about-bg{
    height: 500px;
  }
  .box-border, .box-border-info{
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .box-border-info{
    margin-top: 30px;
  }
  .about-title{
    font-size: 14px;
    margin: 10px;
  }
  .about-text{
    font-size: 12px;
    margin: 10px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  /*FIRST-SCREEN*/
  .container{
    max-width: 280px;
  }
  .main-title-box{
    padding-top: 100px;
  }
  .main-title{
    font-size: 30px;
  }
  .sub-title{
    font-size: 8px;
  }
  .info-title{
    font-size: 16px;
  }
  .info-p{
    font-size: 12px;
  }
  .info-img{
    max-width: 30%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
  /*INFO-ABOUT-INFO*/
  .container-about{
    max-width: 350px;
    margin: auto;
    text-align: center;
  }
  .info-about-bg{
    height: 600px;
  }
  .box-border, .box-border-info{
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
  }
  .about-title{
    font-size: 14px;
    margin: 10px;
  }
  .about-text{
    font-size: 12px;
    margin: 10px;
  }
  .header{
    width: 100vw;
    height: 60px;
  }
}
