/* Large desktops and laptops */
@media (min-width: 1200px) {
  
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .container{
    max-width: 992px;
  }
  .main-title{
    font-size: 70px;
  }
  .info-block{
    padding-top: 15px;
  }
  .sub-title{
    font-size: 18px;
  }
  .info-title{
    font-size: 25px;
  }
  .info-p{
    font-size: 16px;
  }
  .info-img{
    max-width: 45%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .container{
    max-width: 768px;
  }
  .header li,a,button{
    font-size: 14px;
  }
  .main-title{
    font-size: 70px;
  }
  .sub-title{
    font-size: 18px;
  }
  .info-title{
    font-size: 23px;
  }
  .info-p{
    font-size: 15px;
  }
  .info-img{
    max-width: 40%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container{
    max-width: 400px;
  }
  .header li,a,button{
    font-size: 13px;
  }
  .header button{
    padding: 7px 20px;
  }
  .header{
    padding: 10px 8%;
  }
  .main-title{
    font-size: 40px;
  }
  .sub-title{
    font-size: 10px;
  }
  .info-title{
    font-size: 16px;
  }
  .info-p{
    font-size: 12px;
  }
  .info-img{
    max-width: 30%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .container{
    max-width: 280px;
  }
  .header button{
    font-size: 10px;
  }
  .header li{
    display: none;
  }
  .main-title-box{
    padding-top: 120px;
  }
  .main-title{
    font-size: 30px;
  }
  .sub-title{
    font-size: 10px;
  }
  .info-title{
    font-size: 16px;
  }
  .info-p{
    font-size: 12px;
  }
  .info-img{
    max-width: 30%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
}
