/* Large desktops and laptops */
@media (min-width: 1200px) {
  
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /*FIRST-SCREEN*/
  .container{
    max-width: 992px;
  }
  .main-title{
    font-size: 70px;
  }
  .info-block{
    padding-top: 15px;
  }
  .sub-title{
    font-size: 18px;
  }
  .info-title{
    font-size: 25px;
  }
  .info-p{
    font-size: 16px;
  }
  .info-img{
    max-width: 45%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
  /*HEADER*/
  .header{

  }
  .header-title{
    font-size: 28px;
  }
  .icons-images{
    width: 20px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /*FIRST-SCREEN*/
  .container{
    max-width: 768px;
  }
  .main-title{
    font-size: 70px;
  }
  .sub-title{
    font-size: 18px;
  }
  .info-title{
    font-size: 23px;
  }
  .info-p{
    font-size: 15px;
  }
  .info-img{
    max-width: 40%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
  /*HEADER*/
  .header{
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /*FIRST-SCREEN*/
  .container{
    max-width: 480px;
  }
  .main-title{
    font-size: 45px;
  }
  .sub-title{
    font-size: 12px;
  }
  .info-title{
    font-size: 18px;
  }
  .info-p{
    font-size: 14px;
  }
  .info-img{
    max-width: 30%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
  /*HEADER*/
  .header{
    display: none;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  /*FIRST-SCREEN*/
  .container{
    max-width: 280px;
  }
  .main-title-box{
    padding-top: 100px;
  }
  .main-title{
    font-size: 30px;
  }
  .sub-title{
    font-size: 8px;
  }
  .info-title{
    font-size: 16px;
  }
  .info-p{
    font-size: 12px;
  }
  .info-img{
    max-width: 30%;
    margin: 5px auto;
  }
  .info-block__item{
    margin-left: 0px;
  }
  /*HEADER*/
  .header{
    display: none;
  }
}
