* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: wheat;
}


/*FONTS*/
@font-face{
	font-family: outfit-B-h1;
	src: url(../fonts/Outfit-Bold.ttf);
}
@font-face{
	font-family: manrop-EL-h3;
	src: url(../fonts/Manrope-ExtraLight.ttf);
}
@font-face{
	font-family: manrop-B;
	src: url(../fonts/Manrope-Bold.ttf);
}
@font-face{
	font-family: manrop-R-p;
	src: url(../fonts/Manrope-Regular.ttf);
}
h1{
	font-family: "outfit-B-h1";
}
h3{
	font-family: "manrop-EL-h3";
}
p{
	font-family: "manrop-R-p";
}

/*HEADER*/
.header li,a,button{
	text-decoration: none;
	font-size: 16px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(45, 45, 45,.75);
	padding: 12px 10%;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.nav__links{
	list-style: none;
}
.nav__links li{
	display: inline-block;
	padding: 0 20px;
}
.nav__links li a, a:visited{
	transition: all 0.3s ease 0s;
	color: wheat;
}
.nav__links li a:hover{
	color: rgb(255, 0, 0)
}
.b-header-tel{
	border: none;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
	padding: 9px 25px;
	color: black;
}
.b-header-tel:hover{
	background-color: rgb(255, 0, 0)
}

/*FIRST-SCREEN*/
.first-screen{
	width: 100%;
	background-image: url(../images/first-screen/bg-first-screen.jpg);
	background-position: center;
	background-size: cover;
}
.black-box{
	width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.75);
}
.container{
	max-width: 1200px;
	margin: auto;
	text-align: center;
}
/*title*/
.main-title-box{
	width: max-content;
	padding-top: 25vh;
	margin: auto;
}
.main-title{
	font-size: 90px;
	color: white;
}
.sub-title{
	font-size: 25px;
	position: absolute;
}
/*infoblock*/
.info-block{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.info-block__item{
	display: inline-block;
	max-width: 345px;
	margin-left: 50px	;
	text-align: center;

}
.info-title{
	font-size: 30px;
}
.info-p{
	padding-top: 10px;
	font-size: 16px;
	text-align: left;
}
.info-img{
	max-width: 50%;
	margin: 10px auto;
	padding-top: 15px;
}