* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}


/*FONTS*/
@font-face{
	font-family: outfit-B-h1;
	src: url(../fonts/Outfit-Bold.ttf);
}
@font-face{
	font-family: manrop-EL-h3;
	src: url(../fonts/Manrope-ExtraLight.ttf);
}
@font-face{
	font-family: manrop-B;
	src: url(../fonts/Manrope-Bold.ttf);
}
@font-face{
	font-family: manrop-R-p;
	src: url(../fonts/Manrope-Regular.ttf);
}
h1{
	font-family: "outfit-B-h1";
}
h3{
	font-family: "manrop-EL-h3";
}
p{
	font-family: "manrop-R-p";
}
h4{
	font-family: "manrop-B";
}




/*HEADER*/
.header{
	position: fixed;
	height: 100vh;
	width: 10vh;
	left: 0;
	top: 0;
	text-align: center;
	background-color: rgb(19, 19, 19);
}
.header-title{
	writing-mode: vertical-rl; 
	margin: 0 auto;
	margin-top: 10px;
}
.links-icons{
	position: absolute;
	bottom: 0;
}
.icons-images{
	width: 25px;
	margin: 8px;
	margin-bottom: 5px;
	
}
.vk:hover{
	transition: all 1s ease 0s;
	filter: invert(33%) sepia(88%) saturate(2560%) hue-rotate(192deg) brightness(91%) contrast(101%);
}
.vb:hover{
	filter: invert(36%) sepia(84%) saturate(2836%) hue-rotate(232deg) brightness(100%) contrast(90%);
}
.wp:hover{
	transition: all 1s ease 0s;
	filter: invert(57%) sepia(100%) saturate(382%) hue-rotate(90deg) brightness(99%) contrast(84%);
}
.tg:hover{
	transition: all 1s ease 0s;
	filter: invert(46%) sepia(84%) saturate(434%) hue-rotate(157deg) brightness(94%) contrast(106%);
}
.menu-icon{
	margin-top: 30px;
	width: 20px;
	transform: rotate(270deg);
	animation-iteration-count: infinite;
	--animate-duration: 8s;
}
.header-animat{
	animation-delay: 2s;
}






/*FIRST-SCREEN*/
.first-screen{
	width: 100%;
	background-image: url(../images/first-screen/bg-first-screen.jpg);
	background-position: center;
	background-size: cover;
}
.black-box{
	width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.75);
}
.container{
	max-width: 1200px;
	margin: auto;
	text-align: center;
}


/*title*/
.main-title-box{
	--animate-duration: 1s;
	--animate-delay: 1s;
	width: max-content;
	padding-top: 25vh;
	margin: auto;
}
.main-title{
	font-size: 90px;
	color: white;
}
.sub-title{
	color: wheat;
	font-size: 25px;
	position: absolute;
}


/*infoblock*/
.info-block{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.info-block__item{
	display: inline-block;
	max-width: 345px;
	margin-left: 50px	;
	text-align: center;
}
.info-title{
	color: wheat;
	font-size: 30px;
}
.info-p{
	padding-top: 10px;
	font-size: 16px;
	text-align: left;
}
.info-img{
	max-width: 50%;
	margin: 10px auto;
	padding-top: 15px;
}

/*info-animate*/
.info-block-materials{
	--animate-duration: 2s;
	--animate-delay: .5s;
}
.info-block-garant{
	--animate-duration: 2.3s;
	--animate-delay: .7s;
}
.info-block-exper{
	--animate-duration: 2.6s;
	--animate-delay: .9s;
}