* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}



/*FONTS*/
@font-face{
	font-family: outfit-B-h1;
	src: url(../fonts/Outfit-Bold.ttf);
}
@font-face{
	font-family: manrop-EL-h3;
	src: url(../fonts/Manrope-ExtraLight.ttf);
}
@font-face{
	font-family: manrop-B;
	src: url(../fonts/Manrope-Bold.ttf);
}
@font-face{
	font-family: manrop-R-p;
	src: url(../fonts/Manrope-Regular.ttf);
}
h1{
	font-family: "outfit-B-h1";
}
h3{
	font-family: "manrop-EL-h3";
}
p{
	font-family: "manrop-R-p";
}
h4,h2{
	font-family: "manrop-B";
}




/*HEADER*/
.header{
	display: flex;
	position: fixed;
	width: 100vw;
	height: 100vh;
}
/*header-left*/
.header-left{
	height: 99%;
	width: 4%;
	left: 0;
	top: 0;
	text-align: center;
	background-color: rgb(19, 19, 19);
}
.header-title{
	writing-mode: vertical-rl; 
	margin: 0 auto;
	margin-top: 10px;
}
.links-icons{
	position: absolute;
	bottom: 0;
}
.icons-images{
	width: 25px;
	margin: 8px;
	margin-bottom: 5px;
	
}
.vk:hover{
	transition: all 1s ease 0s;
	filter: invert(33%) sepia(88%) saturate(2560%) hue-rotate(192deg) brightness(91%) contrast(101%);
}
.vb:hover{
	filter: invert(36%) sepia(84%) saturate(2836%) hue-rotate(232deg) brightness(100%) contrast(90%);
}
.wp:hover{
	transition: all 1s ease 0s;
	filter: invert(57%) sepia(100%) saturate(382%) hue-rotate(90deg) brightness(99%) contrast(84%);
}
.tg:hover{
	transition: all 1s ease 0s;
	filter: invert(46%) sepia(84%) saturate(434%) hue-rotate(157deg) brightness(94%) contrast(106%);
}
.menu-icon{
	margin-top: 30px;
	width: 35px;
}
.header-animat{
	animation-delay: 2s;
}

/*header-menu*/
.header-menu{
	background-color: black;
	width: 100%;
	height: 100%;
	display: none;
}
.black-box-menu{
	width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.75);
}
.menu-overlay{
	display: flex;
	justify-content: space-between;
}
.menu__item{
	list-style: none;
	width: 28%;
	height: 80vh;
	margin: 50px auto;
	background-position: center;
	background-size: cover;
}
.menu-title{
	width: max-content;
	margin: 0 auto;
	vertical-align: middle;
	font-size: 50px;
	padding-top: 200px;
}
.menu__item:hover{
	filter: brightness(90%);
}
.menu-hammam{
	background-image: url(../images/menu/intro-hammam.jpg);
}
.menu-fier{
	background-image: url(../images/menu/intro-fier.jpg);
}
.menu-sauna{
	background-image: url(../images/menu/intro-sauna.jpg);
}




/*FIRST-SCREEN*/
.first-screen{
	width: 100%;
	background-image: url(../images/first-screen/bg-first-screen.jpg);
	background-position: center;
	background-size: cover;
}
.black-box{
	width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.75);
}
.container{
	max-width: 1200px;
	margin: auto;
	text-align: center;
}

/*title*/
.main-title-box{
	--animate-duration: 1s;
	--animate-delay: 1s;
	width: max-content;
	padding-top: 22vh;
	margin: auto;
}
.main-title{
	font-size: 90px;
	color: white;
}
.sub-title{
	color: wheat;
	font-size: 25px;
	position: absolute;
}

/*infoblock*/
.info-block{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.info-block__item{
	display: inline-block;
	max-width: 345px;
	margin-left: 50px	;
	text-align: center;
	margin-bottom: 30px;
}
.info-title{
	color: wheat;
	font-size: 30px;
}
.info-p{
	padding-top: 10px;
	font-size: 16px;
	text-align: left;
}
.info-img{
	max-width: 50%;
	margin: 10px auto;
	padding-top: 15px;
}

/*info-animate*/
.info-block-materials{
	--animate-duration: 2s;
	--animate-delay: .5s;
}
.info-block-garant{
	--animate-duration: 2.3s;
	--animate-delay: .7s;
}
.info-block-exper{
	--animate-duration: 2.6s;
	--animate-delay: .9s;
}




/*INFO-ABOUT-BLOCK*/
.info-about-block{
	background-color: black;
}
.info-about-bg{
	width: 100vw;
	height: 750px;
	background-image: url(../images/about/bg-info-about.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.black-box-info-about{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.trapezoid{
  position: absolute;
  width: 40%;
	height: 100%;
  right: 0;
  clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
  background: rgba(0, 0, 0, 1);
}
.trapezoid-hidden{
  position: absolute;
  width: 67%;
	height: 100%;
  right: 0;
  clip-path: polygon(36% 0, 100% 0, 100% 100%, 57% 100%);
  background: rgba(0, 0, 0, 0.7);
}
.box-border{
  position: absolute;
  width: 30%;
  border: 4px solid rgb(190, 190, 190);
  right: 4%;
  top: 28%;
  --animate-duration: 2s;
}
.box-border-info{
  position: absolute;
  width: 55%;
  border: 4px solid rgb(190, 190, 190);
  left: 5%;
  top: 18%;
  background-color: rgba(0, 0, 0, 0.6);
	color: rgba(0, 255, 255, 0);
}
.about-title{
	font-size: 24px;
	margin: 30px;
}
.about-text{
	margin: 30px;
}



/*MAIN-GALLERY*/

/*gallery-hammam*/
.gallery-hammam{
	width: 100%;
	background-image: url(../images/gallery/hammam/bg-gallery-hammam.jpg);
	background-position: center;
	background-size: cover;
}
.black-box-gallery-hammam{
	background-color: rgba(15, 15, 15, 0.8);
}
